<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<table id="tableP" datatable [dtOptions]="dtOptions" class="display" cellspasing="0">
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.user_id}}</td>
            <td>{{product.product_id}}</td>
            <td>{{product.buy_price}}</td>
            <td>{{product.currently}}</td>
            <td>{{product.first_bid}}</td>
            <td>{{product.number_of_bids}}</td>
            <td>{{product.start_date}}</td>
            <td>{{product.end_date}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th><input type="text" placeholder="Search id" name="search-id" hidden disabled/></th>
            <th><input type="text" placeholder="Search seller" name="search-seller" /></th>
            <th><input type="text" placeholder="Search product" name="search-product" /></th>
            <th><input type="text" placeholder="Search buy price" name="search-buy-price" /></th>
            <th><input type="text" placeholder="Search currently" name="search-currently" /></th>
            <th><input type="text" placeholder="Search first bid" name="search-first-bid" hidden disabled/></th>
            <th><input type="text" placeholder="Search number of bids" name="search-number-of-bids" hidden disabled/></th>
            <th><input type="text" placeholder="Search start date" name="search-start-date" /></th>
            <th><input type="text" placeholder="Search end date" name="search-end-date" hidden disabled/></th>
        </tr>
    </tfoot>
</table>


<!--Modal-->
<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: auto">
    <!--Dialog-->
    <div class="modal-dialog modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header text-center">
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">
                    Details
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div [innerHTML]="modalBody"></div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <button type="button" mdbBtn color="info" class="waves-effect" (click)="frame.hide()" mdbWavesEffect>
            Close
          </button>
            </div>
            <!--Footer-->
        </div>
        <!--/.Content-->
    </div>
    <!--/.Dialog-->
</div>
<!--/.Modal-->