<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<table id="tableP" datatable [dtOptions]="dtOptions" class="row-border hover" cellspasing="0">
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.user_id}}</td>
            <td>{{product.product_id}}</td>
            <td>{{product.buy_price}}</td>
            <td>{{product.currently}}</td>
            <td>{{product.first_bid}}</td>
            <td>{{product.number_of_bids}}</td>
            <td>{{product.start_date}}</td>
            <td>{{product.end_date}}</td>
            <td><button>More Details</button></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th><input type="text" placeholder="Search id" name="search-id" hidden disabled/></th>
            <th><input type="text" placeholder="Search seller" name="search-seller" /></th>
            <th><input type="text" placeholder="Search product" name="search-product" /></th>
            <th><input type="text" placeholder="Search buy price" name="search-buy-price" /></th>
            <th><input type="text" placeholder="Search currently" name="search-currently" /></th>
            <th><input type="text" placeholder="Search first bid" name="search-first-bid" hidden disabled/></th>
            <th><input type="text" placeholder="Search number of bids" name="search-number-of-bids" hidden disabled/></th>
            <th><input type="text" placeholder="Search start date" name="search-start-date" /></th>
            <th><input type="text" placeholder="Search end date" name="search-end-date" hidden disabled/></th>
            <th><input type="text" placeholder="" name="detail-button" hidden disabled/></th>
        </tr>
    </tfoot>
</table>