@import '../../assets/normalize.css';
@import '../../assets/skeleton.css';
@import '../../assets/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Numans');
html,
body {
    //     background-image: url('../../assets/lightBlueGradient.png');
    //     background-size: cover;
    //     background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Numans', sans-serif;
}

.navbar {
    padding: 0 6%;
    background: #83b7d8b4;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-brand {
    color: #111;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    margin-top: 5px;
}

.navbar-nav.ml-auto li a {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: bold;
}

.navbar-nav.ml-auto li a:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.5);
    opacity: 1;
    transition: 0.5s;
}

.navbar-nav.ml-auto li a:focus {
    outline: none;
    background-color: mix(black, #96CBE8, 15%);
}

.navbar-nav.ml-auto li a:focus::after {
    outline: none;
    background-color: #96CBE8;
}

.nav-link {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}

.App {
    width: 90%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    border: 1px solid #ccc;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 2% auto;
}

h4 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

form {
    margin-bottom: 0;
}

input[type="text"] {
    color: #333;
    border-radius: 0;
}

.sidebar {
    flex-basis: 15%;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #83b7d8b4;
    color: #fff;
    padding: 10px 10px;
}

.left-sidebar {
    section {
        margin-bottom: 20px;
    }
    display: flex;
    flex-direction: column;
}

.room-members {
    flex-grow: 1;
}

.right-sidebar .room {
    display: flex;
}

.newUser-input {
    margin-bottom: 0;
}

.right-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
}

.room {
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
        background-color: goldenrod;
        color: #333;
    }
    &.active {
        background-color: #11D771;
        color: #333;
    }
}

.room-name {
    display: inline-block;
    margin-left: 10px;
}

.user-list li {
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.presence {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 50%;
    &.online {
        background-color: green;
    }
}

.chat-window {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header,
.chat-footer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.chat-header {
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    height: 40px;
    h4 {
        margin-bottom: 0;
    }
}

.chat-session {
    flex-grow: 1;
    padding: 10px 20px;
    overflow-y: auto;
}

.message-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.user-message {
    margin-top: 10px;
    span {
        display: block;
    }
}

.user-id {
    font-weight: bold;
}

.chat-footer {
    padding: 0;
    border-top: 1px solid #ccc;
    height: 50px;
}

.message-form {
    width: 100%;
    height: 100%;
}

.message-input {
    width: 100%;
    border: none;
    margin-bottom: 0;
    height: 100%;
    &:focus {
        border: none;
    }
}

.send-message {
    background-color: #300d4f;
    color: #fff;
    border: 1px solid #300d4f;
    padding: 10px;
}

.create-room {
    padding: 0 10px;
    button {
        display: block;
    }
}

input[type="checkbox"] {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 5px;
}

.is-private {
    display: flex;
    align-items: center;
}

.user-rooms h4,
.joinable-rooms h4 {
    padding-left: 10px;
}

.page-footer {
    background: rgb(122, 172, 203);
}