<!DOCTYPE html>
<html>

<head>
    <title>Index</title>

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" routerLink="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" routerLink="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--DataTables CDN && js file-->
    <link rel="stylesheet" routerLink="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>

<body>

    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm navbar-dark">

        <div class="navbar-brand" routerLink="#">
            <a class="navbar-item"><img src="../../assets/DivaExpressLogo2.png" style="height:110px; width: 110px;"></a>
        </div>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/personalinfo/+{{idUser}}">My Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/personalauctions/+{{idUser}}">My Auctions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/chat/+{{idUser}}">Chat Rooms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/signin">Logout</a>
            </li>
        </ul>

    </nav>

    <div class="dTableCont">
        <div class="d-flex justify-content-center blueBox">

            <table #tableP datatable [dtOptions]="dtOptions" class="display dTable" cellspasing="0">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Seller</th>
                        <th>Product</th>
                        <th>Buy Price</th>
                        <th>Currently</th>
                        <th>First Bid</th>
                        <th>Number of Bids</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Description</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>Town</th>
                        <th>Address</th>
                        <th>Postcode</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Creator</th>
                        <th>Category</th>
                        <th>Path</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th><input type="text" placeholder="Search id" name="search-id" hidden disabled/></th>
                        <th><input type="text" placeholder="Search seller" name="search-seller" /></th>
                        <th><input type="text" placeholder="Search product" name="search-product" /></th>
                        <th><input type="text" placeholder="Search buy price" name="search-buy-price" /></th>
                        <th><input type="text" placeholder="Search currently" name="search-currently" /></th>
                        <th><input type="text" placeholder="Search first bid" name="search-first-bid" hidden disabled/></th>
                        <th><input type="text" placeholder="Search number of bids" name="search-number-of-bids" hidden disabled/></th>
                        <th><input type="text" placeholder="Search start date" name="search-start-date" /></th>
                        <th><input type="text" placeholder="Search end date" name="search-end-date" hidden disabled/></th>
                        <th><input type="text" placeholder="description" name="description" hidden disabled/></th>
                        <th><input type="text" placeholder="country" name="country" hidden disabled/></th>
                        <th><input type="text" placeholder="state" name="state" hidden disabled/></th>
                        <th><input type="text" placeholder="town" name="town" hidden disabled/></th>
                        <th><input type="text" placeholder="address" name="address" hidden disabled/></th>
                        <th><input type="text" placeholder="postcode" name="postcode" hidden disabled/></th>
                        <th><input type="text" placeholder="latitude" name="latitude" hidden disabled/></th>
                        <th><input type="text" placeholder="longitude" name="longitude" hidden disabled/></th>
                        <th><input type="text" placeholder="id" name="id" hidden disabled/></th>
                        <th><input type="text" placeholder="Search category" name="search-category" /></th>
                        <th><input type="text" placeholder="" name="search-images" hidden disabled/></th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>


    <!--Modal-->
    <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y: auto">
        <!--Dialog-->
        <div class="modal-dialog modal-notify modal-info modal-lg" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">
                        Details
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                        <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="container">
                        <slideshow [imageUrls]="images" [minHeight]="'300px'" [backgroundSize]="auto" [backgroundPosition]="'center center'" [autoPlay]="true" [showArrows]="true" [lazyLoad]="images?.length > 1" [autoPlayWaitForLazyLoad]="true" [hideOnNoSlides]="true"></slideshow>
                        <br>
                        <div class="row">
                            <div class="col">
                                <h4 class="h4-responsive"><strong>Product: </strong></h4>
                                <p>{{data['product_name']}}</p>
                            </div>
                            <div class="col">
                                <h4 class="h4-responsive"><strong>Seller: </strong></h4>
                                <p>{{data['username']}}</p>
                            </div>
                            <div class="col">
                                <h4 class="h4-responsive"><strong>Category: </strong></h4>
                                <p>{{data['categories']}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <h4 class="h4-responsive"><strong>Description: </strong></h4>
                                <p>{{data['description']}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <h4 class="h4-responsive"><strong>Buy Price: </strong></h4>
                                <p>{{data['buy_price']}}</p>
                            </div>
                            <div class="col">
                                <h4 class="h4-responsive"><strong>Currently: </strong></h4>
                                <p>{{data['currently']}}</p>
                            </div>
                            <div class="col">
                                <h4 class="h4-responsive"><strong>Start Date: </strong></h4>
                                <p>{{data['start_date']}}</p>
                            </div>
                            <div class="col">
                                <h4 class="h4-responsive"><strong>End Date: </strong></h4>
                                <p>{{data['end_date']}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <h4 class="h4-responsive"><strong>Address: </strong></h4>
                                <p>{{dataAddress}}</p>
                            </div>
                        </div>
                    </div>
                    <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lon">
                        <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
                    </agm-map>
                    <br>
                    <div [hidden]="usersAuction">
                        <input type="button" value="Bid" class="btn btn-outline-info bidButton" [hidden]="usersAuction" (click)="openBiddingForm()">
                    </div>
                </div>

                <!-- Bidding form -->
                <div id="biddingForm" #bf class="biddingForm" [hidden]="!openform">
                    <form (submit)=openBidModal($event)>
                        <hr>
                        <div class="form-group">
                            <p>How much would you like to bid?</p>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-money-check-alt"></i></span>
                            </div>
                            <input id="bidAmount" type="number" min="1" class="form-control" placeholder="Write your bid here please">
                        </div>
                        <br>
                        <div class="d-flex justify-content-center form-group">
                            <input type="submit" value="Submit my bid!" class="btn float-center email_btn" [disabled]="bidded">
                        </div>
                        <!-- <br>
                        <div class="d-flex justify-content-center form-group">
                            <p class="result" id="result">{{result}}</p>
                        </div> -->
                        <hr>
                    </form>
                </div>
                <!-- Bidding form -->

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <button type="button" mdbBtn color="primary" class="waves-effect" (click)="frame.hide()" mdbWavesEffect>
                        Close
                        </button>
                </div>
                <!--Footer-->
            </div>
            <!--/.Content-->
        </div>
        <!--/.Dialog-->
    </div>
    <!--/.Modal-->

    <!--Modal bid-->
    <div mdbModal #frame1="mdbModal" class="modal fade top" id="bidModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y: auto">
        <!--Dialog-->
        <div class="modal-dialog modal-dialog-centered modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">
                        Confirmation
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame1.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <p style="display: inline">Are you sure you want to bid </p>
                    <h5 style="display: inline">{{bidAmount}} euros</h5>
                    <p style="display: inline"> to this auction?</p>
                </div>

                <!--Footer-->
                <div class="row">
                    <div class="modal-footer justify-content-center col">
                        <button type="button" mdbBtn color="danger" class="waves-effect" (click)="frame1.hide();" mdbWavesEffect>
                        No
                    </button>
                    </div>
                    <div class="modal-footer justify-content-center col">
                        <button type="button" mdbBtn color="success" class="waves-effect" (click)="addBid()" mdbWavesEffect>
                        Yes
                    </button>
                    </div>
                </div>
                <!--Footer-->
            </div>
            <!--/.Content-->
        </div>
        <!--/.Dialog-->
    </div>
    <!--/.Modal bid-->

    <!-- Footer -->
    <footer class="page-footer font-small pt-4">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a routerLink=""> Diva.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

</body>

</html>