<!DOCTYPE html>
<html>

<head>
    <title>Personal Auctions</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" routerLink="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" routerLink="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--DataTables CDN && js file-->
    <link rel="stylesheet" routerLink="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <!-- <script>
        $(document).ready(function() {
            $('#tableP').Datatable();
        })
    </script> -->
</head>

<body>

    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm navbar-dark">

        <div class="navbar-brand" routerLink="#">
            <a class="navbar-item"><img src="../../assets/DivaExpressLogo1.png" style="height:90px; width: 90px;"></a>
        </div>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/personalinfo/+{{idUser}}">My Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/indexuser/+{{idUser}}">Auctions List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/signin">Logout</a>
            </li>
        </ul>

    </nav>


    <div class="container newButtonCont">
        <button class="btn btn-primary" (click)="openFormForNewAuction()">Create new auction</button>
    </div>

    <hr>

    <div class="container dTableCont">
        <div class="d-flex justify-content-center h-100">

            <table #tableP datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display dTable" cellspasing="0">
                <div *ngIf="loading else loaded">
                    <tbody>
                        <tr>
                            <td colspan="18" class="no-data-available">Loading...</td>
                            <!-- <td>Loading...</td>
                                    <td>Loading...</td>
                                    <td>Loading...</td>
                                    <td>Loading...</td>
                                    <td>Loading...</td>
                                    <td>Loading...</td>
                                    <td>Loading...</td>
                                    <td>Loading...</td>
                                    <td>Loading...</td>
                                    <td>Loading...</td>
                                    <td>Loading...</td>
                                    <td>Loading...</td>
                                    <td>Loading...</td>
                                    <td>Loading...</td>
                                    <td>Loading...</td>
                                    <td>Loading...</td>
                                    <td>Loading...</td>
                                    <td>Loading...</td> -->
                        </tr>
                    </tbody>
                </div>
                <ng-template #loaded>
                    <tbody *ngIf="products?.length != 0" [@listAnimation]="items.length">
                        <tr *ngFor="let product of products">
                            <td>{{product.id}}</td>
                            <td>{{product.user_surname}}</td>
                            <td>{{product.product_name}}</td>
                            <td>{{product.buy_price}}</td>
                            <td>{{product.currently}}</td>
                            <td>{{product.first_bid}}</td>
                            <td>{{product.number_of_bids}}</td>
                            <td>{{product.start_date}}</td>
                            <td>{{product.end_date}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.country}}</td>
                            <td>{{product.state}}</td>
                            <td>{{product.town}}</td>
                            <td>{{product.address}}</td>
                            <td>{{product.postcode}}</td>
                            <td>{{product.latitude}}</td>
                            <td>{{product.longitude}}</td>
                            <td>{{product.categories}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="products == null">
                        <tr>
                            <td colspan="5" class="no-data-available">You haven't started any auction yet!</td>
                        </tr>
                    </tbody>
                </ng-template>
                <tfoot>
                    <tr>
                        <th><input type="text" placeholder="Search id" name="search-id" hidden disabled/></th>
                        <th><input type="text" placeholder="Search seller" name="search-seller" /></th>
                        <th><input type="text" placeholder="Search product" name="search-product" /></th>
                        <th><input type="text" placeholder="Search buy price" name="search-buy-price" /></th>
                        <th><input type="text" placeholder="Search currently" name="search-currently" /></th>
                        <th><input type="text" placeholder="Search first bid" name="search-first-bid" hidden disabled/></th>
                        <th><input type="text" placeholder="Search number of bids" name="search-number-of-bids" hidden disabled/></th>
                        <th><input type="text" placeholder="Search start date" name="search-start-date" /></th>
                        <th><input type="text" placeholder="Search end date" name="search-end-date" hidden disabled/></th>
                        <th><input type="text" placeholder="description" name="description" hidden disabled/></th>
                        <th><input type="text" placeholder="country" name="country" hidden disabled/></th>
                        <th><input type="text" placeholder="state" name="state" hidden disabled/></th>
                        <th><input type="text" placeholder="town" name="town" hidden disabled/></th>
                        <th><input type="text" placeholder="address" name="address" hidden disabled/></th>
                        <th><input type="text" placeholder="postcode" name="postcode" hidden disabled/></th>
                        <th><input type="text" placeholder="latitude" name="latitude" hidden disabled/></th>
                        <th><input type="text" placeholder="longitude" name="longitude" hidden disabled/></th>
                        <th><input type="text" placeholder="Search category" name="search-category" /></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


    <!--Modal info-->
    <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: auto">
        <!--Dialog-->
        <div class="modal-dialog modal-notify modal-info modal-md" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">
                        Details
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                        <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <!-- <div class="b" [innerHTML]="modalBody"></div> -->
                    <div class="b">
                        <div class="container">
                            <form (submit)=saveAuctionChanges($event) [formGroup]="infoForm">
                                <div class="form-group">
                                    <div class="row formCol">
                                        <span>Product: </span>
                                        <input class="input-group" type="text" formControlName="prForm">
                                    </div>
                                    <div class="row formCol">
                                        <span>Seller: </span>
                                        <input class="input-group" type="text" formControlName="seForm">
                                    </div>
                                    <div class="row formCol">
                                        <span>Description: </span>
                                        <input class="input-group" formControlName="deForm" type="text">
                                    </div>
                                    <div class="row formCol">
                                        <span>Address: </span>
                                        <input class="input-group" formControlName="adForm" type="text">
                                    </div>
                                    <div class="row formCol">
                                        <span>Category: </span>
                                        <input class="input-group" formControlName="cdForm" type="text">
                                    </div>
                                    <div class="row formCol">
                                        <span>Buy Price: </span>
                                        <input class="input-group" formControlName="bpForm" type="number">
                                    </div>
                                    <div class="row formCol">
                                        <span>Currently: </span>
                                        <input class="input-group" formControlName="cuForm" type="number">
                                    </div>
                                    <div class="row formCol">
                                        <div class="col">
                                            <span>Start Date: </span>
                                            <input class="input-group" type="date" formControlName="sdForm">
                                        </div>
                                        <div class="col">
                                            <span>End Date: </span>
                                            <input class="input-group" type="date" formControlName="edForm">
                                        </div>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-info" [hidden]="!saveButton">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lon">
                        <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
                    </agm-map>
                    <br>
                    <div>
                        <button type="button" class="btn deleteButton" (click)="openDeleteModal()" [hidden]="ableToDeleteAuction">Delete Auction</button>
                    </div>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <button type="button" mdbBtn color="primary" class="waves-effect" (click)="frame.hide()" mdbWavesEffect>
                        Close
                        </button>
                </div>
                <!--Footer-->
            </div>
            <!--/.Content-->
        </div>
        <!--/.Dialog-->
    </div>
    <!--/.Modal info-->


    <!--Modal delete-->
    <div mdbModal #frame1="mdbModal" class="modal fade top" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y: auto">
        <!--Dialog-->
        <div class="modal-dialog modal-dialog-centered modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">
                        Confirmation
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame1.hide()">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <p>Are you sure you want to delete this auction?</p>
                </div>

                <!--Footer-->
                <div class="row">
                    <div class="modal-footer justify-content-center col">
                        <button type="button" mdbBtn color="danger" class="waves-effect" (click)="cancelDelete()" mdbWavesEffect>
                            No
                        </button>
                    </div>
                    <div class="modal-footer justify-content-center col">
                        <button type="button" mdbBtn color="success" class="waves-effect" (click)="deleteAuction()" mdbWavesEffect>
                            Yes
                        </button>
                    </div>
                </div>
                <!--Footer-->
            </div>
            <!--/.Content-->
        </div>
        <!--/.Dialog-->
    </div>
    <!--/.Modal delete-->


    <!--Modal new-->
    <div mdbModal #frame2="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y: auto">
        <!--Dialog-->
        <div class="modal-dialog modal-notify modal-info modal-xl" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">
                        New Auction
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame2.hide()">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="container">
                        <form (submit)="addAuction($event)">
                            <div class="row">
                                <div class="col-xl-4 newFormColumns">
                                    <div class="row">
                                        <span><p style="color: rgb(199, 0, 0); display: inline">*</p>Product:</span>
                                    </div>
                                    <div class="row">
                                        <input value="" type="text" id="fp">
                                    </div>
                                </div>
                                <div class="col-xl-4 newFormColumns">
                                    <div class="row">
                                        <span><p style="color: rgb(199, 0, 0); display: inline">*</p>Description:</span>
                                    </div>
                                    <div class="row">
                                        <input value="" type="text" id="fd">
                                    </div>
                                </div>
                                <div class="col-xl-4 newFormColumns">
                                    <div class="row">
                                        <span><p style="color: rgb(199, 0, 0); display: inline">*</p>Buy Price:</span>
                                    </div>
                                    <div class="row">
                                        <input value="" type="number" min="1" id="fbp">
                                    </div>
                                </div>
                                <div class="col-xl-4 newFormColumns">
                                    <div class="row">
                                        <span><p style="color: rgb(199, 0, 0); display: inline">*</p>Country:</span>
                                    </div>
                                    <div class="row">
                                        <input value="" type="text" id="fco">
                                    </div>
                                </div>
                                <div class="col-xl-4 newFormColumns">
                                    <div class="row">
                                        <span>State:</span>
                                    </div>
                                    <div class="row">
                                        <input value="" type="text" id="fs">
                                    </div>
                                </div>
                                <div class="col-xl-4 newFormColumns">
                                    <div class="row">
                                        <span><p style="color: rgb(199, 0, 0); display: inline">*</p>Town:</span>
                                    </div>
                                    <div class="row">
                                        <input value="" type="text" id="ft">
                                    </div>
                                </div>
                                <div class="col-xl-4 newFormColumns">
                                    <div class="row">
                                        <span><p style="color: rgb(199, 0, 0); display: inline">*</p>Address:</span>
                                    </div>
                                    <div class="row">
                                        <input value="" type="text" id="fa">
                                    </div>
                                </div>
                                <div class="col-xl-4 newFormColumns">
                                    <div class="row">
                                        <span><p style="color: rgb(199, 0, 0); display: inline">*</p>Postcode:</span>
                                    </div>
                                    <div class="row">
                                        <input value="" type="text" id="fpc">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 newFormColumns">
                                    <div class="row">
                                        <span><p style="color: rgb(199, 0, 0); display: inline">*</p>Start Date:</span>
                                    </div>
                                    <div class="row">
                                        <input value="" type="date" id="fsd">
                                    </div>
                                </div>
                                <div class="col-xl-4 newFormColumns">
                                    <div class="row">
                                        <span><p style="color: rgb(199, 0, 0); display: inline">*</p>End Date:</span>
                                    </div>
                                    <div class="row">
                                        <input value="" type="date" id="fse">
                                    </div>
                                </div>
                                <div class="col newFormColumns">
                                    <span><p style="color: rgb(199, 0, 0); display: inline">*</p>Category:</span>
                                    <!-- Search Field -->
                                    <div>
                                        <div class="filter-wrap">
                                            <input [(ngModel)]="searchText" placeholder="Filter Categories" class="filter-input" name="dwd">
                                            <span class="filter-clear" *ngIf="searchText.length>0" (click)="clearFilter()">X</span>
                                        </div>
                                    </div>
                                    <!-- Clear Link -->
                                    <div class="clear-selection" title="Click to Clear Selections" (click)="clearSelection()" *ngIf="selected_count">Clear Selection</div>

                                    <div class="w">
                                        <!-- Game List -->
                                        <ul class="categories-list">
                                            <li *ngFor="let c of categories | filter: searchText" class="category-item">
                                                <input (change)="getSelected()" type="checkbox" value="{{c.id}}" [(ngModel)]="c.selected" name="categories" />
                                                <span class="category-text">{{c.description}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Selected Games-->
                                    <div class="selected-categories-wrap">
                                        <div class="selected-category" *ngFor="let s of selected_categories">
                                            <span>{{s.description}} <span class="delete-category" (click)="deleteCategory(s.id)" title="Click to delete">X</span></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <br>
                            <span style="color: rgb(199, 0, 0)">All fields with * are required</span>
                            <hr>
                            <div class="justify-content-center row" [hidden]="resultFlag">
                                <h5 style="color: rgb(196, 127, 0)">{{hhh}}</h5>
                            </div>
                            <div class="justify-content-center row" style="width: inherit;">
                                <button type="submit" class="btn newButton" [disabled]="!ableToSubmitAuction">Submit Auction</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br><br>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <button type="button" mdbBtn color="primary" class="waves-effect" (click)="frame2.hide()" mdbWavesEffect>
                            Close
                        </button>
                </div>
                <!--Footer-->
            </div>
            <!--/.Content-->
        </div>
        <!--/.Dialog-->
    </div>
    <!--/.Modal new-->



    <!-- Footer -->
    <footer class="page-footer font-small pt-4">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a routerLink=""> Diva.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>

</html>